<!DOCTYPE html>
<html lang="en">
     <head>
        <meta charset="utf-8">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <title>Go Cleaner!</title>
    </head>
    <body>
			<form class="form-horizontal" method="POST">
			<fieldset>

			<!-- Form Name -->
			<legend>Cleaner!</legend>

			<!-- Multiple Checkboxes -->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="checkboxes">Files</label>
			  <div class="col-md-4">
				  {{range .}}
			  <div class="checkbox">
				  <input type="checkbox" name="filename" value="{{.FullFilePath}}" data="{{.FileName}}"><b>File:-{{.FileName}}</b>--Last Accessed At:{{.LastAccessed}}-Last Modified at: {{.LastModiefied}}
				</div>
				 {{end}}

			  </div>
			</div>
			<br>
			<!-- Button -->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="singlebutton"></label>
			  <div class="col-md-4">
			    <button id="singlebutton" name="singlebutton" class="btn btn-danger">Delete</button>
			  </div>
			</div>

			</fieldset>
			</form>
			
    </body>
</html>